.git

.idea
.vs
.vscode

# Byte-compiled / optimized / DLL files
**/__pycache__
**/*.py[cod]

# Django stuff:
tmp
*.log
configuration/local_settings.py
db.sqlite3

# Environments
.env
.venv
env/
venv/
docker/

node_modules
